<ion-view>  
	<ion-header-bar class="bar-stable" >
		
	     <h1 class="title small_logo"><img src="images/small_logo.png" /></h1>
		  <button class="button funnel "  ng-click="openFilter()" >
		    <i class="icon funnel_icon active" ></i>
		  </button>
	</ion-header-bar>
    <ion-content>


		<!--start find resto -->
   		<div class="find_restaurants" >
	   		<p class="center" style="text-align:center;padding-top:15px;color:#999;"> Find a Restaurants</p>
			
			<div class="list list-inset gps_buttons">

				<div class="item range range ">
				 	<button class="button button-stable" ng-class="LocationBox" ng-click="openLocationBox()">Enter Location</button>	
				 	<button class="button button-stable" ng-class="GPSLocation" ng-click="openGPSLocation()" >Use my GPS</button>	
				</div>		
			    <label class="item item-input backbg ">
			        <input type="text" placeholder="Location" ng-model="mapObj.Location"  ng-disabled="BoxLocationDisabled" class="pin " >
			    </label>

			  	<label class="item item-input backbg">
			    	<input type="text" placeholder="Destination" ng-model="mapObj.Destination" class="pin">
			  	</label>
			 
			 	<label class="item item-input backbg">
			    	<input type="text" placeholder="Include Keywords" ng-model="mapObj.include_keywords">
			  	</label>
			  
			  	<label class="item item-input backbg">
			    	<input type="text" placeholder="Exculde Keywords" ng-model="mapObj.exclude_keywords">
			  	</label> 	

			 	<div class="item range range">
			    	<i class="icon " style="font-size: 13px;  margin-right: 11px;">$<span ng-bind="mapObj.price_range">5</span></i>
			    	<input type="range" name="price_range" ng-model="mapObj.price_range" min="5" max="500" >
			    	<i class="icon " style="font-size: 13px; ">$500</i>
			  	</div>
			  	<div class="item range range">
			    	<i class="icon " style="font-size: 13px;  margin-right: 11px;" ><span ng-bind="mapObj.mile_range">0.1</span> mi</i>
			    	<input type="range" name="mile_range" ng-model="mapObj.mile_range" min="0" max="20" >
			    	<i class="icon " style="font-size: 13px; ">20 mi</i>
			  	</div>
			
			</div>
			<div class="ist list-inset " >

				<button class="button button-full  blue_btn caps"  ng-click="findResto()">
				 Find Restaurants 
				</button>
			</div>
		
		</div>
		<!-- find resto -->
		
		
		
	</ion-content>
</ion-view>