# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
/my-release-key.keystore
/android-release-unsigned.apk
/FindResto.apk
/platforms/*.DS_Store
/platforms/ios
/platforms/android
